*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: auto;
    height: 110vh;
}

#headerFirst{
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1D3B9;
    background-color: #B36050;
}

#headerSecond{
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B36050;
}

#headerSecondRight{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#headerSecondMiddle{
    width: 57%;
    padding-left: 20%;
    display: flex;
}

#headerSecondLeft{
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Account{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#headerThird{
    width: auto;
    height: 55vh;
    background-image: url("../img/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 5vh;
}

.headerButton {
	background-color:#b45e4d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:13px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: auto;
}

#headerFourth{
    width: auto;
    height: 30vh;
    padding-left: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    background-color: #A9AE8D;
    padding-left: 10vh;
    padding-top: 5vh;
}

#headerFourth h2{
    font-size: 12px;
}

#headerFourth h1{
    font-size: 20px;
}

#headerFourth p{
    font-size: 10px;
}

article{
    width: auto;
    height: 150vh;
}

#articleStart{
    width: auto;
    height: 5vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B36050;
}

#articleMain{
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #B36050;
}

.bottle img{
    width: auto;
    height: 60vh;
}

.bottle p{
    padding-top: 2vh;
}

#articleArrows{
    padding: 0 5%;
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#articleBottom{
    width: auto;
    height: 40vh;
    margin: 5vh 15vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/bottles.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#articleBottomBottom{
    height: 10vh;
    background-color:#B36050;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vh;
    margin-top: auto;
}

footer{
    width: auto;
    height: 170vh;
}

#footerTop{
    position: relative;
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #B36050;
    background: #F1D3B9;
}

#footerTopText{
    position: absolute;
    right: 25vh;
    width: 40vh;
    height: 50vh;
    padding: 5vh;
    line-height: 1.8;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

#footerTopWomanOne{
    position: absolute;
    top: 25vh;
    left: 40vh;
    z-index: 2;
}

#footerTopWomanTwo{
    position: absolute;
    height: 85vh;
    width: 60vh;
    z-index: 0;
}

#footerMiddle{
    width: auto;
    height: 25vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

#footerMiddleSecond{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#footerBottom{
    width: auto;
    height: 60vh;
    background-color: #F6F4EC;
    border-top: 2px solid #F1D3B9;
    color: #B45F4D;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#footerBottomFirst{
    padding: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
}

#footerBottomFirstLeft{
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#footerBottomFirstLeft p{
    padding-top: 5vh;
}

#footerBottomFirstRight{
    width: 50%;
    height: 30vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.8;
}

#Subscribe{
    width: 70%;
    height: 2vh;
    padding: 2vh;
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid #B45F4D;
}

#footerBottomSecond{
    height: 5vh;
    padding-left: 5vh;
}